p,
h1 {
    color: white;
    font-size: 3em;
    font-weight: bold;
}

h3 {
    color: white;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.one2 {
    padding-top: 100px;
}

html,
body {
    height: 100%;
    /* background: black; */
    font-family: 'Roboto', sans-serif;
    /* overflow: hidden; */
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
}

.sections,
.sections2,
.landing {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/drone-1245980_1920.jpg"); */
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    /* position: absolute; */
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.sections2 {
    opacity: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/livestream.jpg");
}

.sections {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/drone-1245980_1920.jpg");
    opacity: 0;
    background-size: 200% 200%;
}

.landing {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
}

.section,
.section2,
.landing-one,
.landing-main,
.landing-two {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: center;
}

.landing-main {
    visibility: hidden;
}

.section,
.section2 {
    display: none;
}

nav {
    background: rgba(204, 204, 204, 0) !important;
    color: white !important;
    /* position: absolute !important; */
    width: 100%;
    opacity: 0;
}

.nav-link,
.navbar-brand {
    color: white !important;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover,
.navbar-brand:hover {
    color: white;
    text-decoration: none;
}

.navbar-brand {
    margin-left: 100px;
    margin-right: 100px !important;
    font-size: 1.5em !important;
    font-weight: bold;
}

.list2 {
    padding-bottom: 30vh;
}

.list3 {
    padding-top: 50vh;
}

.two-two,
.two-three {
    opacity: 0;
    visibility: hidden;
}

h1 {
    color: white;
    font-weight: bold;
}

.landing-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    height: 100%;
    z-index: 1000;
}

.landing {
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    box-shadow: 3px 3px 5px 6px #888;
}

.logo {
    width: 30%;
    /* padding-top: 100vh; */
    height: auto;
    justify-self: center;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 3001;
}


.landing-main,
.landing-two {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    
    flex: 1;
    width: 100vw;
    height: 50vh;
    position: relative;
}

.landing-one a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 5%; */
    /* position: relative;
    z-index: 2001; */
    height: 50vh;
    text-decoration: none;
}

.landing-main a:hover {
    width: 60%;
    align-items: center;
    font-size: 1.2em;
}

.landing-main a:hover .cube {
    transition: 2s;
    opacity: 1;
}

.landing-two {
    padding-bottom: 30vh;
}

.landing-two a {
    max-width: 35vw;
    justify-content: flex-start;
}

.divider {
    width: 2px;
    margin: 6px 0;
    background: white;
    height: 500px
}

.cube {
    transition: 2s;
    width: 50%;
    opacity: 0;
}

.material-icons {
    color: white;
    font-size: 200px;
    font-weight: 10%;
    position: fixed;
    bottom: -50px;
    left: 45vw;
    opacity: 0;
}

#scrollContainer,
#scrollContainer2 {
    /* display: none; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/livestream.jpg") */
}

.vids {
    padding-top: 30px;
    position: relative;
    /* background: #E8E8E8; */
    /* CONCEPT 1  */
    /* background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); */
    /* CONCEPT 2
    background: #757F9A;
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
    background: linear-gradient(to right, #D7DDE8, #757F9A);background: #C6FFDD;  /* fallback for old browsers */
    /* CONCEPT 3
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    */
    /* CONCEPT 4
    background: #005AA7;
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
    background: linear-gradient(to right, #FFFDE4, #005AA7); */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding-bottom: 10vh;
}

.vids h1 {
    background: rgba(0, 0, 0, 0.2);
    width: 40%;
    text-align: center;
}

.netflix-carousel {
    /* padding: 0 143px; */
    margin-top: 10px;
    /* padding-top: 50px; */
    z-index: 1001;
    visibility: hidden;
}

.netflix-carousel .swiper-container {
    padding: 20px 0;
    padding-bottom: 40px;
}

.swiper-container {
    display: grid;
    justify-content: center;
    width: 100vw !important;
    padding-left: 10vw;
}

.netflix-carousel img {
    width: 100%;
    transition: transform .3s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.swiper-slide {
    transition: transform .3s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transform-origin: left;
}

.swiper-slide.item-prev {
    transform: translateX(-120px);
}

.swiper-slide.item-next {
    transform: translateX(120px);
}

.swiper-slide.item-active img,
.swiper-slide.item-active a {
    transform: scale(1.5);
}

.link-img,
.link-slide {
    width: 16vw !important;
    height: 18vh;
    padding-right: 10px;
}

.swiper-slide {
    position: relative !important;
    display: inline-block !important;
    /* cursor: pointer !important; */
}

.swiper-slide:hover .overlay-text,
.swiper-slide:hover .overlay-title {
    opacity: 1;
    transition-delay: 0.15s;
}

.swiper-slide:hover img {
    filter: brightness(70%);
    /* pointer-events: none; */
}

.overlay-text {
    position: absolute;
    opacity: 0;
    bottom: 1;
    left: 1;
    right: 1;
    z-index: 2001;
}

.overlay-title {
    position: absolute;
    opacity: 0;
    text-align: center;
    top: -10%;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 2001;
    pointer-events: none;
}

.link-title {
    text-align: center;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}

.link-img {
    filter: brightness(80%);
}

.swiper-wrapper {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    top: 150px;
}